.branches__categories--default {
    @apply mb-lg;
}

.branches__categories--home {
    @apply mb-2xl;
    @apply md:mb-lg;
}

.branches__categories {
    @apply container;
    @apply lg:px-def;
    @apply sm:px-mob;
}

.branches__categories-inner {
    @apply px-1-col;
    @apply md:px-mob;

    > div {
        @apply overflow-hidden;
    }

    .swiper-container {
        .swiper-wrapper {
            @apply mx-auto;
            width: calc(100% - 48px);
        }

        .swiper-slide {
            span {
                @apply px-def;
                @apply mob:px-sm;
            }
        }

        &:not(.slider-active) {
            @apply text-center;
        }
    }
}

.branche__categories--item {
    @apply text-lead transition-all duration-300 #{!important};
    @apply hover:text-dark #{!important};
    letter-spacing: -0.38px;

    &.active {
        @apply text-dark relative #{!important};

        &:after {
            @apply absolute inset-x-0 mx-auto bg-dark;
            content: "";
            height: 1px;
            width: calc(100% - 48px);
            bottom: -6px;
            @media screen and (max-width: 600px) {
                width: calc(100% - 24px);
            }
        }
    }
}

.branches__categories {
    &:not(.branches__categories--items) {
        .bg-gradient--grey {
            @apply pt-md pb-xs;
        }
    }
}

.branches__categories--items {
    .branches__categories-inner {
        @apply relative px-0 pb-lg pt-md;
    }

    .bg-gradient--grey {
        @apply absolute inset-y-0 inset-x-1-col;
        @apply md:inset-x-mob;
    }
}

.branches__items {
    @apply grid grid-cols-12 gap-def relative z-2 overflow-visible #{!important};
}

.branche__items--item {
    @apply hidden col-span-4 items-center text-lead relative bg-white transition-all duration-300 pr-lg;
    @apply md:col-span-6;
    @apply mob:col-span-12;
    @include box-shadow(-6px, 12px, 24px, 0, rgba(0, 0, 0, 0.12));
    border-radius: 2px;
    height: 84px;

    .asp-base {
        width: 43px;

        picture {
            @apply flex items-center;
        }
    }

    i {
        font-size: 36px;
        background: transparent linear-gradient(104deg, #c826f3 0%, #00defa 100%) 0% 0% no-repeat padding-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    i,
    .asp-base {
        @apply absolute inset-y-0 flex items-center;
        left: 40px;
    }

    p {
        padding-left: 90px;
    }

    &.active {
        @apply flex;
    }

    &:hover {
        @include box-shadow(-6px, 12px, 24px, 0, rgba(0, 0, 0, 0.2));
    }

    &:after {
        @apply font-fontAwesome text-lead absolute right-md inset-y-0 flex items-center pointer-events-none;
        content: "\f061";
    }
}

.branche__items--item {
    &.active {
        + .empty-branch {
            @apply hidden;
        }
    }
}

.empty-branch {
    @apply col-span-12 px-2-col text-center;
}

.default__branches {
    @apply container mb-md;
    @apply lg:px-def;
    @apply sm:px-mob;
}

.default__branches-inner {
    @apply px-1-col text-center;
    @apply md:px-0;
}
