.storybook-button {
  @apply rounded-full;

  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--lead {
  @apply bg-lead text-white;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.btn {
  @apply inline-block;
  padding: 10px 24px;
  font-size: 20px;
}

.btn-pill {
  @apply rounded-full
}

.btn-solid {
  @apply bg-leadDark font-fontTitle text-center;
  @apply xs:w-full;

  &--lead {
      @apply bg-lead text-white;
      @apply hover:bg-white;
  }
}

.btn-transp {
  @apply border-solid border-2 border-lead font-fontTitle text-center;
}

.btn-icon {
  @apply rounded-l-full rounded-tr-full h-xl w-xl flex items-center justify-center absolute bottom-0;
  left: -82px;

  &.btn-icon--lead {
      @apply bg-lead text-white;
  }

  &.btn-icon--reversed {
      @apply rounded-r-full rounded-tl-full;
  }
}

.btn-text {
  @apply font-fontTitle;
  @apply text-lead;

  font-size: clamp(
      calc(20px * 0.8),
      calc(calc(20px * 0.8) + ((22 - (20 * 0.8)) * ((100vw - 360px) / (1230 - 360)))),
      20px
  );

  &--white {
      @apply text-white;
      @apply hover:text-secondary;
  }

  &--icon {
      &:after {
          @apply font-fontAwesome ml-sm;
          content: "\f061";
          font-size: 16px;
      }
  }
}