.btn {
  @apply inline-block;
  padding: 10px 24px;
  font-size: 20px;

  &--rounded {
    @apply rounded-8;
  }

  &--pill {
    @apply rounded-full;
  }
}

.btn-solid {
  @apply bg-leadDark font-fontTitle text-center;
  @apply xs:w-full;

  &--lead {
    @apply bg-lead text-white transition-all duration-300;
    @apply hover:bg-hoverBlue;
  }
}

.btn-transp {
  @apply border-solid border-2 border-lead font-fontTitle text-center transition-all duration-300;
  @apply hover:border-hoverBlue;
}

.btn-text {
  @apply font-fontTitle transition-all text-lead duration-300;
  @apply hover:text-hoverBlue;

  font-size: clamp(
    calc(20px * 0.8),
    calc(calc(20px * 0.8) + ((22 - (20 * 0.8)) * ((100vw - 360px) / (1230 - 360)))),
    20px
  );

  &--white { 
    @apply text-white;
    @apply hover:text-white;
  }

  &--icon {
    &:after {
      @apply font-fontAwesome ml-sm;
      content: "\f061";
      font-size: 16px;
    }
  }
}