.cta {
    @apply container relative mt-def;
    @apply lg:px-def;
    @apply sm:px-mob;
    top: -96px;
}

.cta__inner {
    @apply bg-white rounded grid grid-cols-12 gap-def p-xl;
    @apply lg:px-def lg:py-md;
    @include box-shadow(-6px, 12px, 24px, 0, rgba(0, 0, 0, 0.16));

    > div {
        @apply flex items-center;
    }
}

.cta__content {
    @apply col-span-4;
    @apply md:col-span-12;
    @apply mob:text-center;

    h3 {
        font-size: clamp(
            calc(30px * 0.9),
            calc(calc(30px * 0.9) + ((30 - 27) * ((100vw - 360px) / (1230 - 360)))),
            30px
        );

        line-height: clamp(
            calc(36px * 0.9),
            calc(calc(36px * 0.9) + ((36 - 27) * ((100vw - 360px) / (1230 - 360)))),
            36px
        );
        letter-spacing: -1.5px;

        + p {
            @apply mt-def;
        }
    }
}

.cta__employee {
    @apply col-span-4;
    @apply md:col-span-6;
    @apply mob:col-span-12 mob:text-center;
}

.cta__employee-inner {
    @apply mx-auto;
}

.cta__info {
    @apply col-span-4;
    @apply md:col-span-6;
    @apply mob:col-span-12 mob:text-center;

    h4 {
        @apply text-lead;

        + p {
            @apply mt-0;
        }
    }

    a:not(.btn) {
        @apply text-lead block mt-xs;
        @apply hover:text-dark;
    }

    .btn {
        @apply mt-def;
        padding: 16px 50px 18px;
    }
}

.cta__info-inner {
    @apply w-full;
}

.cta__info-header {
    @apply mb-mob;
}
