.page-links--overflow {
    @apply overflow-hidden pb-md;
}

.page-links {
    @apply container;
    @apply lg:px-def;
    @apply sm:px-mob;

    .swiper-container {
        &.slider-active {
            .swiper-wrapper {
                @apply flex;

                .swiper-slide {
                    width: calc(100% / 5);
                    @apply lg:w-3/12;
                    @apply md:w-4/12;
                    @apply sm:w-6/12;
                    @apply mob:w-8/12;

                    + .swiper-slide {
                        @apply ml-def;
                        @apply mob:ml-sm;
                    }
                }
            }
        }
        &:not(.slider-active) {
            .swiper-wrapper {
                @apply grid grid-cols-10 gap-def;
                @apply lg:grid-cols-12;

                .swiper-slide {
                    @apply col-span-2;
                    @apply lg:col-span-3;
                    @apply md:col-span-4;
                    @apply sm:col-span-6;
                    @apply mob:col-span-8;
                }
            }
        }
    }
}

.page-link__wrapper {
    @apply lg:px-mob;
}

.page-links__inner {
    @apply grid grid-cols-10 gap-x-def;

    &:not(.swiper-active) {
        @apply grid grid-cols-10 gap-x-def;
    }

    &.swiper-active {
        .page-link {
            @apply mr-mob;
        }
    }
}

.page-link {
    @apply col-span-2 rounded bg-white pt-md px-md pb-lg text-center text-dgrey relative duration-300 transition-all;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);

    i {
        @apply block mx-auto text-lead mb-mob;
        font-size: 32px;
    }

    .page-link__title {
        @apply mb-def;
        line-height: 27px;
    }

    .page-link__arrow {
        @apply absolute bottom-mob left-1/2 -translate-x-1/2;
        i {
            @apply pt-xs inline-block;
            font-size: 16px;
            margin-right: 4px;
            background: transparent
                linear-gradient(104deg, #c826f3 0%, #00defa 100%) 0% 0%
                no-repeat padding-box;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &:first-child {
        @apply text-white;
        background: rgb(200, 38, 243);
        background: linear-gradient(
            144deg,
            rgba(200, 38, 243, 1) 0%,
            rgba(0, 222, 250, 1) 100%
        );
        .page-link__arrow {
            @apply text-white;

            i {
                background: transparent;
                -webkit-background-clip: unset;
                background-clip: unset;
                -webkit-text-fill-color: unset;
                @apply text-white;
            }
        }
        i {
            @apply text-white;
        }
    }

    &:hover {
        box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.25);
    }
}
