.employees-wrapper--default {
    @apply mb-lg;
    @apply md:mb-def;
}

.employee__image {
    @apply relative mt-2xl;
    width: 200px;
    height: 200px;

    .employee__overlay {
        @apply absolute inset-0 z-2;
        top: -36px;
        height: calc(50% + 36px);
        img {
            @apply h-full w-full object-contain;
            object-fit: cover;
            object-position: top;
        }
    }

    .employee__shape {
        width: 100%;
        height: 100%;
        background: transparent linear-gradient(89deg, #c826f3 0%, #48a0f0 53%, #00defa 100%) 0% 0% no-repeat
            padding-box;
        background-size: 115% auto;
        content: "";
        display: block;
        clip-path: polygon(
            97.07107% 42.92893%,
            97.93353% 43.91239%,
            98.66025% 45%,
            99.2388% 46.17317%,
            99.65926% 47.41181%,
            99.91445% 48.69474%,
            100% 50%,
            99.91445% 51.30526%,
            99.65926% 52.58819%,
            99.2388% 53.82683%,
            98.66025% 55%,
            97.93353% 56.08761%,
            97.07107% 57.07107%,
            57.07107% 97.07107%,
            56.08761% 97.93353%,
            55% 98.66025%,
            53.82683% 99.2388%,
            52.58819% 99.65926%,
            51.30526% 99.91445%,
            50% 100%,
            48.69474% 99.91445%,
            47.41181% 99.65926%,
            46.17317% 99.2388%,
            45% 98.66025%,
            43.91239% 97.93353%,
            42.92893% 97.07107%,
            2.92893% 57.07107%,
            2.06647% 56.08761%,
            1.33975% 55%,
            0.7612% 53.82683%,
            0.34074% 52.58819%,
            0.08555% 51.30526%,
            0% 50%,
            0.08555% 48.69474%,
            0.34074% 47.41181%,
            0.7612% 46.17317%,
            1.33975% 45%,
            2.06647% 43.91239%,
            2.92893% 42.92893%,
            42.92893% 2.92893%,
            43.91239% 2.06647%,
            45% 1.33975%,
            46.17317% 0.7612%,
            47.41181% 0.34074%,
            48.69474% 0.08555%,
            50% 0%,
            51.30526% 0.08555%,
            52.58819% 0.34074%,
            53.82683% 0.7612%,
            55% 1.33975%,
            56.08761% 2.06647%,
            57.07107% 2.92893%
        );

        img {
            @apply h-full w-full object-contain;
            margin-top: -36px;
            object-fit: cover;
            object-position: 0 -36px;
        }
    }
}

.employees-wrapper {
    @apply container;
    @apply lg:px-def;
    @apply sm:px-mob;
}

.employees-wrapper__inner {
    @apply grid grid-cols-12 gap-def;
}

.row-1 {
    .employee {
        @apply col-span-4 col-start-5;
        @apply md:col-span-6 md:col-start-4;
        @apply mob:col-span-12;
    }
}

.row-2 {
    .employee {
        @apply col-span-3;
        @apply lg:col-span-4;
        @apply sm:col-span-6;
        @apply xs:col-span-12;

        &:first-child {
            @apply col-start-4;
            @apply lg:col-start-3;
            @apply sm:col-start-1;
        }
    }
}

.row-3 {
    .employee {
        @apply col-span-4;
        @apply md:col-span-6;
        @apply xs:col-span-12;

        &:last-child {
            @apply md:col-start-4;
            @apply xs:col-start-1;
        }
    }
}

.row-4 {
    .employee {
        @apply col-span-3;
        @apply md:col-span-6;
        @apply xs:col-span-12;
    }
}

.employee {
    @apply text-center;

    .employee__image {
        @apply mx-auto;
    }
}

.employee__content {
    @apply mt-md;

    h4 {
        @apply text-lead;

        + p {
            @apply mt-0;
        }
    }

    p + a {
        @apply mt-mob;
    }

    a {
        @apply block text-lead;
        @apply hover:text-dark;

        + a {
            @apply mt-xs;
        }
    }
}
