$copyrightFontSize: 13px;
$copyrightColor: #4d4d4d;

footer {
    @apply bg-white relative z-10 font-fontText;
}
.footer {
    @apply container pb-2xl pt-xl;
    @apply lg:px-def;
    @apply sm:px-mob sm:py-md;

    .footer__inner {
        @apply grid grid-cols-12 gap-def mb-3xl;
        @apply md:mb-def;
    }

    .footer__wrapper {
        @apply col-span-8 grid grid-cols-12 gap-y-md;
        @apply lg:col-span-12 lg:text-center;

        .footer__sitemap {
            @apply col-span-4;
            @apply lg:col-span-6;
            @apply mob:col-span-12;
        }
    }

    .footer__contact {
        @apply col-span-4 font-fontText flex flex-col;
        @apply lg:col-span-12 lg:text-center;
    }

    .footer__contact__top {
        @apply text-h4 font-normal mb-2xl;
        @apply lg:mb-def;

        .logo {
            img {
                @apply lg:mx-auto;
                max-height: 100px;
            }
        }
    }

    .footer__sitemap {
        @apply md:col-span-6;
        @apply mob:col-span-12 mob:text-center;
    }
    .footer__contact_link {
        @apply block whitespace-nowrap font-bold mb-xs transition-all duration-300 text-h4;
        @apply hover:text-lead;
        letter-spacing: -0.22px;
        @apply sm:mb-0;

        i {
            @apply mr-xs;
        }
    }

    .footer__sitemap {
        .h4 {
            @apply mb-mob text-h4;
        }
        .footer__item {
            @apply block mb-xs text-h5 transition-all duration-300;
            @apply hover:text-lead;
        }
    }

    .footer__contact-socials {
        @apply  transition-all duration-300;
        @apply hover:text-lead;

        &:not(:last-child) {
            @apply mr-def;
        }
    }

    .footer__link {
        @media screen and (max-width: 600px) {
            line-height: 40px !important;
        }
    }

    .copyright {
        @apply grid grid-cols-12 gap-def font-fontText;
    }

    .copyright-left {
        @apply col-span-3;
        @apply lg:text-center lg:col-span-12;
    }

    .copyright-center {
        @apply col-span-5;
        @apply lg:text-center;
    }

    .copyright-right {
        @apply col-span-4;
    }

    .copyright-center,
    .copyright-right {
        @apply lg:col-span-12;
        a,
        span {
            @apply transition-all duration-300;
            @apply mob:block;
            font-size: $copyrightFontSize;
            color: $copyrightColor;
        }

        a {
            @apply hover:text-lead;
        }

        span + a,
        a + a {
            &:before {
                @apply pr-sm ml-xs;
                @apply mob:hidden;
                content: "|";
                color: $copyrightColor;
            }
            @apply mob:pt-sm;
        }
    }

    .copyright-right {
        @apply text-right;
        @apply lg:text-center;
    }
}
