$inputHeight: 50px;
$textAreaHeight: 104px;

$inputBorderRadius: 6px;
$textareaBorderRadius: 6px;

$inputFontSize: 20px;
$checkboxFontSize: 15px;
$checkboxLineHeight: 36px;

$inputBackground: #fff;
$inputBorderColor: #d8e3f0;
$inputBorderColorFocus: #48a0f0;

$checkBackground: #fff;
$checkBorderColor: #d8e3f0;

$inputPlaceHolderColor: rgba(#667380, 0.6);

form {
    @apply font-fontText;
    fieldset {
        > div {
            @apply mt-sm relative;

            &:before {
                @apply font-fontAwesome text-lead left-md z-1 pointer-events-none;
                @apply xs:left-sm;
                content: "";
                position: absolute;
                top: 16px;
                left: 18px;
                font-size: 18px;
                font-weight: 200;
                width: 20px;
                text-align: center;    
            }

            &.icon {
                input[type="text"],
                input[type="email"],
                input[type="number"],
                input[type="date"],
                select,
                textarea {
                    padding-left: 48px;
                }
            }

            &.icon-user {
                &:before {
                    content: "\f007";
                }
            }
            &.icon-envelope {
                &:before {
                    content: "\f0e0";
                }
            }
            &.icon-telephone {
                &:before {
                    content: "\f095";
                }
            }
            &.icon-comment {
                &:before {
                    content: "\f075";
                }
            }
            &.icon-stroopwafel {
                &:before {
                    content: "\f551";
                }
            }
        }

        .form--top-label {
            &:before,
            &:after {
                top: 38px;
            }
        }
    }

    .field__label {
        @apply block pb-xs;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="date"],
    select,
    textarea {
        @apply transition-colors duration-300 border border-solid w-full pr-def py-sm;
        padding-left: 24px;
        outline: 0;
        height: $inputHeight;
        font-size: $inputFontSize;
        line-height: 24px;
        border-radius: $inputBorderRadius;
        background: $inputBackground;
        border-color: $inputBorderColor;

        @media screen and (max-width: 500px) {
            padding-left: 40px;
        }

        &::placeholder {
            color: $inputPlaceHolderColor;
            font-size: $inputFontSize;
        }

        &:focus {
            border-color: $inputBorderColorFocus;
        }

        &:focus-visible {
            outline: none;
        }
    }

    .selectbox {
        &:after {
            @apply font-fontAwesome text-lead right-md z-1 pointer-events-none transition-all duration-300;
            @apply xs:left-sm;
            position: absolute;
            top: 16px;
            font-size: 18px;
            font-weight: 200;
            width: 20px;
            text-align: center;
            content: "\f106";
        }

        &:hover {
            &:after {
                @apply rotate-180;
            }
        }
    }

    select {
        @apply hover:cursor-pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';

        &:invalid {
            color: $inputPlaceHolderColor;
        }

        option {
            @apply text-black;
        }
    }

    @media (hover: hover) {
        input::-webkit-calendar-picker-indicator {
            display: none;
        }
    }

    textarea {
        @apply pb-sm;
        min-height: $textAreaHeight;
        border-radius: $textareaBorderRadius;

        &.scalable {
            min-height: 0;
        }
    }

    .check {
        @apply relative w-full mt-xs z-1 text-left;
    }

    .form-paragraph {
        @apply text-center px-md mb-def;
        @apply mob:px-0;
        a {
            @apply text-lead font-bold;
            @apply hover:underline;
        }
    }

    .radioButtons,
    .checkBoxes {
        @apply list-none;

        .radio-option,
        .check-option {
            input + label {
                @apply w-6/12 mb-xs;
                @apply sm:w-full;
                min-height: 40px;
                font-size: 19px !important;
                color: #667380;
            }
                +.radio-option,
                +.check-option {
                @apply sm:mt-xs;
            }
        }
    }
    ul.radioButtons,
    ul.checkBoxes li {
        input + label {
            color: #2a3c4d;
        }
    }

    .radioButtons .radio-option,
    .checkBoxes .check-option,
    li {
        input {
            @apply absolute left-0 cursor-pointer appearance-none border-none opacity-0;
            width: 1px;
            height: 1px;
            top: 15px;
            outline: 0;

            + label {
                @apply relative cursor-pointer inline-block;
                @apply lg:w-full;
                padding-left: 52px;
                font-size: $checkboxFontSize;
                line-height: $checkboxLineHeight;

                a {
                    @apply text-lead;
                    @apply hover:underline;
                }

                &:before {
                    @apply absolute inset-y-0 left-0 my-auto flex items-center justify-center border border-solid rounded text-lead;
                    content: "";
                    border-color: $checkBorderColor;
                    background: $checkBackground;
                    height: 40px;
                    width: 40px;
                    margin-right: 20px;
                    font-size: 22px;
                    font-weight: 100;
                }
            }

            &:checked {
                + label {
                    &:before {
                        @apply font-fontAwesome border-lead;
                        content: "\f00c";
                    }
                }
            }
        }
    }

    .mark-error {
        &:not(.date-picker-x-container) {
            .checkBoxes,
            .radioButtons {
                li {
                    input {
                        + label {
                            @apply text-error;
                        }

                        + label {
                            &:before {
                                @apply border-error border border-solid;
                            }
                        }
                    }
                }
                + span {
                    @apply mt-sm;
                }
            }
        }
    }

    .radioButtons .radio-option {
        input {
            + label {
                &:before {
                    border-radius: 9999px;
                }
            }

            &:checked {
                + label {
                    &:before {
                        @apply font-fontAwesome border-lead;
                        font-weight: 900;
                        content: "\f111";
                    }
                }
            }
        }
    }

    .file-upload {
        @apply flex flex-col;
    }

    .file-upload__label {
        @apply flex items-center transition-colors duration-300 border border-solid w-full pr-def py-sm cursor-pointer;
        padding-left: 24px;
        outline: 0;
        height: $inputHeight;
        font-size: $inputFontSize;
        line-height: 24px;
        border-radius: $inputBorderRadius;
        background: $inputBackground;
        border-color: $inputBorderColor;
        color: $inputPlaceHolderColor; 

        &.icon {
            padding-left: 48px;
        }

        i {
            @apply font-fontAwesome transition-colors duration-300 text-lead left-md z-1 pointer-events-none;
            @apply xs:left-sm;
            position: absolute;
            top: 16px;
            left: 18px;
            font-size: 18px;
            font-weight: 200;
            width: 20px;
            text-align: center;
        }

        &:hover {
            @apply bg-lead text-white border-lead;

            i {
                @apply text-white;
            }
        }
    }

    .field__label +
    .inputfile +
    .file-upload__label {
        i {
            top: 38px;    
        }
    }

    .mark-error {
        &:not(.date-picker-x-container) {
            input[type="text"],
            input[type="email"],
            input[type="number"],
            input[type="date"],
            select,
            textarea {
                @apply border-error border border-solid;
            }

            span {
                @apply text-error block pt-xs;
                font-size: 12px;
            }
        }
    }

    .mark-error {
        &.date-picker-x-container {
            input {
                @apply border-error border border-solid;
            }
        }
    }
}

.actioncontainer {
    @apply mt-mob;
}

input[type="file"] {
    display: none;
}

input[type="date"] {
    color: $inputPlaceHolderColor;
}