.service__detail-gallery {
    .service__detail-gallery-inner {
        @apply container pb-2xl relative;

        &::after {
            content: "";
            @apply absolute h-full w-full top-0;
            left: calc(100% / 12);
            right: calc(100% / 12);
            background: transparent linear-gradient(90deg, #f2f2f2 0%, #ffffff 100%) 0% 0% no-repeat padding-box;
        }

        .service__detail-gallery-wrapper {
            width: calc(100% + (100vw - 1177px));
            margin-left: calc(0px - ((100vw - 1177px) / 2));

            @media screen and (max-width: 1176px) {
                width: 100%;
                margin-left: 0;
            }
        }
    }
    @apply overflow-hidden pb-def;

    .service__detail-gallery__content {
        @apply container text-center pt-2xl z-1 relative px-sm;

        p {
            @apply px-2-col mb-lg;
        }
    }

    .swiper-container {
        @apply pl-def;

        &:not(.slider-active) {
            .swiper-wrapper {
                @apply justify-center;
            }
        }
    }

    .swiper-slide {
        width: 365px;
    }
    .swiper-wrapper {
        @apply flex;
    }

    .gallery__image-wrapper {
        img {
            @apply rounded-lg;
        }
        @apply relative;

        .last {
            @apply relative;
            &::after {
                content: "";
                @apply absolute inset-0 block w-full h-full rounded-lg;
                background: rgba($color: #000000, $alpha: 0.5);
            }
        }
        .swiper__last-swiper-count {
            @apply text-white flex justify-center items-center z-1 font-fontText text-h3 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 font-semibold;
        }
    }
}
