@import '../libs/rbmixins';

/* TopNavbar */
$topNavFontSize: 15px;
$topNavFontSize--Center: 12px;
$topNavItemSpacing: 0px 14px;
$topNavHeight: 46px;
$topNavBackground: #fff;

/* BottomNavbar */
$bottomNavFontSize: 19px;
$bottomNavItemSpacing: 0px 26px;
$bottomNavHeight: 52px;
$bottomNavHeightMobileMenu: 74px;
$bottomNavHeight--Center: 74px;
$bottomNavBackground: #fff;

/* Fixednavbar */
$fixedNavHeight: 72px;
$fixedLogoHeight: 55px;

/* Mobile Navigation */
$navResponsiveHeight: 60px;
$navIconFontSize: 20px;
$navResponsiveLogo: 50px;

/* Other */
$logoHeight: 74px;

header {
    &.header--primary {
        @include box-shadow(0, 0, 24px, 0, rgba(0, 0, 0, 0.2));

        #topNavbar {
            @apply w-full;
            @apply lg:hidden;
            background: $topNavBackground;

            > div {
                @apply flex items-center;
                height: $topNavHeight;

                nav {
                    @apply ml-auto;

                    ul {
                        @apply text-right;

                        > li {
                            @apply inline-block;
                            padding: $topNavItemSpacing;

                            a {
                                @apply font-fontText text-lead font-normal transition-all duration-300;
                                @apply hover:text-hoverBlue;
                                font-size: $topNavFontSize;
                            }

                            &:last-child {
                                padding-right: 0;

                                a {
                                    @apply font-bold;
                                }
                            }

                            &.active {
                                a {
                                    @apply text-lead;
                                    @apply hover:text-hoverBlue;
                                }
                            }
                        }
                    }
                }

                .language--toggler {
                    padding-left: 28px;
                }
            }
        }

        #bottomNavbar {
            @apply w-full relative z-10;
            background: $bottomNavBackground;

            .fa-bars {
                @apply cursor-pointer absolute inset-y-0 left-def flex items-center;
                @apply xl:hidden;
                font-size: $navIconFontSize;
            }

            .fa-envelope {
                @apply cursor-pointer absolute inset-y-0 right-def flex items-center;
                @apply xl:hidden;
                font-size: $navIconFontSize;
            }

            > div {
                @apply flex items-center;
                height: $bottomNavHeight;

                @media screen and (max-width: 1177px) {
                    height: $bottomNavHeightMobileMenu;
                }

                nav {
                    @apply ml-auto;
                    @apply lg:hidden;

                    padding-bottom: 14px;

                    ul {
                        @apply float-right;

                        > li {
                            @apply inline-block;
                            padding: $bottomNavItemSpacing;

                            a {
                                @apply font-fontText text-lead font-semibold transition-all duration-300;
                                @apply hover:text-hoverBlue;
                                font-size: $bottomNavFontSize;
                                line-height: 52px;
                            }

                            &.active {
                                a {
                                    @apply text-lead;
                                    @apply hover:text-hoverBlue;
                                }
                            }
                        }

                        &:first-child {
                            > li {
                                &:last-child {
                                    padding-right: 0;
                                }
                            }
                        }
                    }
                }

                .logo {
                    @apply block z-50 transition-all duration-300;
                    @apply hover:scale-110;
                    @apply lg:mx-auto;

                    margin-top: -44px;

                    @media screen and (max-width: 1177px) {
                        margin-top: 0;
                    }

                    > img {
                        height: $logoHeight;
                    }
                }
            }

        }
    }

    &.header--center {
        @include box-shadow(0, 0, 24px, 0, rgba(0, 0, 0, 0.2));

        #topNavbar {
            @apply w-full;
            @apply lg:hidden;
            background: $topNavBackground;

            > div {
                @apply flex items-center;
                height: $topNavHeight;

                nav {
                    @apply mx-auto;

                    ul {
                        @apply text-right;

                        > li {
                            @apply inline-block;
                            padding: $topNavItemSpacing;

                            &.language--toggler {
                                .language--toggler-inner {
                                    font-size: 16px;
                                }
                            }

                            a {
                                @apply font-fontText text-lead font-normal transition-all duration-300;
                                @apply hover:text-hoverBlue;
                                font-size: $topNavFontSize;
                            }

                            &.active {
                                a {
                                    @apply text-lead;
                                    @apply hover:text-hoverBlue;
                                }
                            }
                        }

                    }
                }
            }
        }

        #bottomNavbar {
            @apply w-full relative z-10;
            background: $bottomNavBackground;

            .fa-bars {
                @apply cursor-pointer absolute inset-y-0 left-def flex items-center;
                @apply xl:hidden;
                font-size: $navIconFontSize;
            }

            .fa-envelope {
                @apply cursor-pointer absolute inset-y-0 right-def flex items-center;
                @apply xl:hidden;
                font-size: $navIconFontSize;
            }

            > div {
                @apply flex items-center justify-between;
                height: $bottomNavHeight--Center;

                nav {
                    @apply lg:hidden;

                    ul {
                        @apply float-right;

                        > li {
                            @apply inline-block;
                            padding: $bottomNavItemSpacing;

                            a {
                                @apply font-fontText text-lead font-semibold transition-all duration-300;
                                @apply hover:text-hoverBlue;
                                font-size: $bottomNavFontSize;
                                line-height: 52px;
                            }

                            &.active {
                                a {
                                    @apply text-lead;
                                    @apply hover:text-hoverBlue;
                                }
                            }
                        }
                    }
                }

                .logo {
                    @apply mt-auto block z-50 transition-all duration-300;
                    @apply hover:scale-110;
                    @apply lg:mx-auto;

                    > img {
                        height: $logoHeight;
                    }
                }
            }
        }
    }
}

.mobile-menu {
    @apply fixed inset-y-0 bg-white hidden transition-all duration-300 px-mob;
    @apply lg:block;
    @include box-shadow(0, 0, 12px, 0, rgba(0, 0, 0, 0.2));
    width: 300px;
    left: -400px;
    z-index: 1000;

    nav {
        @apply mt-def font-fontText;

        ul {
            list-style: none;

            li {
                @apply py-xs;
            }

            a {
                @apply font-bold text-placeholder;
            }
        }

        li.active {
            a {
                @apply text-lead;
            }
        }

        + nav {
            @apply mt-sm;

            a,
            + a {
                @apply font-normal;
                font-size: 14px;
            }

            + a {
                @apply font-bold text-lead;
            }
        }
    }

    .logo {
        @apply block mt-lg;
    }

    #close-menu {
        @apply absolute top-mob right-mob text-lead cursor-pointer p-sm;
    }
}

#overlay {
    @apply fixed inset-y-0 w-full z-999;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    left: -100%;
}

.mobile-open {
    .mobile-menu {
        @apply left-0;
    }

    #overlay {
        left: 0;
    }
}

@media screen and (min-width: 1177px) {
    .fixed-nav {
        header {
            #topNavbar {
                position: fixed;
                top: -$topNavHeight;
            }

            #bottomNavbar {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                z-index: 1000;
                @include box-shadow(0, 0, 24px, 0, rgba(0, 0, 0, 0.2));

                > div {
                    height: $fixedNavHeight;

                    .logo {
                        margin-top: 0;

                        > svg {
                            height: $fixedLogoHeight;
                        }
                    }

                    nav {
                        padding-bottom: 0;
                    }
                }
            }
        }

        .header--shrink {
            #bottomNavbar {

                > div {
                    height: $fixedNavHeight - 10px;

                    .logo {
                        > img {
                            height: $fixedLogoHeight - 10px;
                        }
                    }

                    li {
                        a {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .header--transparent {
            #bottomNavbar {
                @apply bg-white/[.50];
            }
        }

        main {
            padding-top: 98px;
        }
    }
}

@media screen and (max-width: 1176px) {
    header {
        @apply fixed top-0 inset-x-0 z-50;

        #bottomNavbar {
            > div {
                height: $navResponsiveHeight;

                .logo {
                    @apply mt-0;

                    > svg {
                        height: $navResponsiveLogo;
                    }
                }
            }
        }
    }
}
