@import '../libs/rbmixins';

body.modal--active {
    .modal__select {
        @apply flex;
    }
}

.modal__select {
    @apply fixed inset-0 z-50 flex items-center justify-center font-fontText mx-sm;
    @apply hidden;
    z-index: 1000;
}

.modal__select-inner {
    @apply bg-white relative rounded overflow-hidden;
    @include box-shadow(0, 12px, 24px, 0, rgba(0, 0, 0, 0.12));
    width: 360px;

    .modal__select-closer {
        @apply absolute top-0 right-0 flex items-center justify-center cursor-pointer transition-all duration-300 z-2 pl-xs;
        @apply hover:text-lead;
        height: 50px;
        width: 50px;
        font-size: 12px;
    }

    .modal__select--header {
        @apply px-def py-mob;
    }

    .modal__select--header {
        @apply relative;

        &:before {
            @apply absolute bottom-0 right-0 w-full bg-lead;
            content: "";
            height: 1px;
        }
    }

    ul {
        @apply relative m-0 list-none p-def pb-sm;

        li {
            @apply mb-mob transition-all duration-300 relative;
            @apply hover:border-lead;

            &:after {
                @apply font-fontAwesome absolute right-0 top-0 transition-all duration-300 pointer-events-none;
                content: "\f105";
                font-size: 14px;
            }

            a {
                @apply transition-all duration-300 block;
                @apply hover:text-lead;
            }

            &:hover {
                &:after {
                    @apply text-lead;
                }
            }

            &.active {
                @apply pointer-events-none;

                a {
                    @apply text-lead;
                }

                &:after {
                    @apply hidden;
                }
            }
        }
    }
}
