.news-header {
    @apply container;
}

.news__item {
    @apply col-span-4 mb-def transition-all;
    @apply md:col-span-6;
    @apply sm:mb-xl;
    @apply mob:col-span-12;

    &.news__item--first {
        @apply col-span-12 grid grid-cols-12 gap-lg mb-def z-1 relative;
        @apply mob:mb-xl;
        @apply sm:gap-0 sm:pt-0;

        &::after {
            @apply absolute bg-no-repeat bg-contain pointer-events-none;
            top: -20px;
            left: 122px;
            z-index: 11;
            background-image: url("/images/shapes/confetti-yellow-triangle.svg");
            content: "";
            width: 45px;
            height: 47px;
            transform: rotate(177deg);
            @media screen and (max-width: 768px) {
                @apply hidden;
            }
        }
        .news__image {
            @apply col-span-6 relative;
            @apply sm:col-span-12 sm:mb-def;

            img {
                @apply rounded-b-8;
            }

            &::after {
                @apply hidden;
            }
        }

        .news__item-content {
            @apply col-span-6 pb-0 self-center;
            @apply sm:col-span-12;

            &:hover {
                .btn-transp--lead {
                    @apply hover:text-dark hover:border-dark;
                }
            }

            .news__description {
                @apply mb-def;
                @include line-clamp(2);
            }

            a {
                @apply font-bold px-lg;
            }

            h3 {
                @apply text-lead mb-def text-h3;
            }
        }
    }
}

.news__item-content {
    @apply pb-lg relative transition-all duration-200;

    &:hover {
        .btn-transp--lead {
            @apply text-dark border-dark;
        }
    }

    h4 {
        @apply text-lead pt-def text-h5 mb-mob;
    }

    p {
        @apply mt-0;
        @include line-clamp(3);
    }
}

.news__inner {
    @apply grid grid-cols-12 gap-lg gap-y-9;
    @apply lg:px-def;
    @apply md:px-mob;
    @apply sm:gap-def;
    @apply mob:gap-0;
    @apply container;
}

.news__item-inner {
    .img-full-w {
        @apply rounded-8;
    }

    &:hover {
        .news__item-content {
            h4 {
                @apply text-dark;
            }
        }
    }

    i {
        @apply absolute left-0 bottom-0;
        background: transparent linear-gradient(135deg, #c826f3 0%, #00defa 100%) 0% 0% no-repeat padding-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.news-container {
    @apply mob:pb-lg;

    .loadmore {
        @apply pt-xl pb-3xl;
        @apply mob:pt-0;
        @apply xs:px-mob;
    }

    .loadmore__inner {
        @apply text-center clear-both;
    }
}

.news-header-inner {
    @apply px-2-col pt-xl pb-md text-center;
    @apply sm:px-mob;
    @apply mob:pt-md mob:pb-sm;
    .asp-base {
        @apply bg-lgrey overflow-hidden rounded-8;
    }
}

.news-header-content {
    @apply px-md;
    @apply mob:px-0;
}
