.paragraph__overview--end {
    @apply pb-lg mb-xs;
    @apply md:pb-sm;
}

.paragraph__overview {
    .container {
        @apply lg:px-def;
        @apply sm:px-mob;
    }

    .paragraph__grid {
        @apply pt-def pb-lg grid grid-cols-12 gap-def;

        &:not(.paragraph__set--half) {
            + .paragraph__grid {
                &:not(.paragraph__set--half) {
                    @apply mt-sm;
                }
            }
        }
    }

    .paragraph__content--full {
        @apply col-span-12 px-1-col text-center;
        @apply md:px-0;
    }

    .paragraph__content--half {
        @apply col-span-6 flex items-center;
        @apply md:col-span-12;

        > div {
            @apply w-full;
        }
    }

    .paragraph__image--right {
        @apply order-2;
        @apply md:order-1;
    }

    .paragraph__content--left {
        @apply order-1 pr-md;
        @apply md:order-2 pr-0;
    }

    .paragraph__content--right {
        @apply pl-md;
        @apply md:pl-0;
    }

    .asp-base {
        @apply bg-lgrey overflow-hidden rounded-8;
    }
}

.paragraph__buttons {
    @apply mt-sm pt-xs;

    .btn {
        @apply mt-sm;

        &:first-of-type {
            @apply mr-xs;
            @apply mob:mr-0;
        }
    }
}

.paragraphs__video {
    @apply w-full;

    .asp-976x465,
    .asp-16x9,
    .asp-4x3 {
        > .content {
            @apply transition-all duration-500;

            .playbtn {
                @apply absolute inset-0 m-auto flex justify-center items-center cursor-pointer bg-white text-black;
                height: 50px;
                width: 50px;
                font-size: 24px;
            }

            .play-video {
                @apply absolute inset-0 cursor-pointer;
            }

            iframe {
                @apply absolute inset-0 h-full w-full;
            }
        }
    }
}
