@import '../libs/rbmixins';

.paragraph__grid {
    @apply grid font-fontText text-default grid-cols-12 gap-lg;
    @apply sm:gap-md;
    @apply xs:gap-def;

    &:not(:last-of-type) {
        @apply mb-lg pb-xs;
        @apply sm:mb-def;
    }
}

.paragraph__content--full {
    @apply col-span-12 px-1-col;
    @apply sm:px-0;
}

.paragraph__content--half {
    @apply col-span-6 flex items-center;
    @apply md:col-span-12;

    > div {
        @apply w-full;
    }
}

.paragraph__title {
    @apply font-bold text-lead;
}

.paragraph__image{
    &--right {
    @apply order-2;
    @apply md:order-1;
    }
    
    &--right-overlap {
        @apply col-end-7 row-start-1;
    }
}

.paragraph__content{
    &--left {
        @apply order-1;
        @apply md:order-2;
    }

    &--right-overlap {
        @apply col-start-6 row-start-1 col-span-7;
        >div {
            @apply bg-white p-sm;
        }
    }    
}

.paragraphs__video {
    @apply w-full;

    .asp-976x465,
    .asp-576x384,
    .asp-16x9,
    .asp-4x3 {
        > .content {
            @apply transition-all duration-500;
            @apply hover:opacity-80;

            .playbtn {
                @apply absolute inset-0 m-auto flex justify-center items-center cursor-pointer bg-lead text-white z-2 rounded-full;
                height: 60px;
                width: 60px;
                font-size: 18px;
                letter-spacing: -0.36px;
                pointer-events: none;
            }

            .play-video {
                @apply absolute inset-0 cursor-pointer;
            }

            iframe {
                @apply inset-0 block w-full h-full;
                max-width: auto;
            }
        }
    }
}
