.references {
    @apply relative w-full;
}

.reference-header {
    @apply container;
}

.reference-header-inner {
    @apply px-1-col pt-xl pb-md text-center;
    @apply mob:pt-md mob:pb-sm;
    .reference-header-name {
        @apply text-purple mt-def;
    }
}

.references-container {
    @apply container pb-xl;
    @apply lg:px-def;
    @apply sm:px-mob;

    .loadmore__inner {
        @apply text-center clear-both;
    }
}

.references-inner {
    @apply relative z-10;
    @apply md:px-0 md:pb-md;
    @apply mob:pb-def;
    margin: 0 -24px;
}

.reference-block {
    @apply px-def mb-lg;
    @apply mob:mb-mob;
}

.reference-block-inner {
    @apply bg-white py-lg px-xl rounded-8 relative text-center transition-all duration-300;
    @apply md:px-def;
    @apply mob:px-def mob:py-md;
    box-shadow: -6px 12px 24px rgba(0, 0, 0, 0.16);
    &:hover {
        box-shadow: -6px 12px 24px rgba(0, 0, 0, 0.24);
    }
    h4 {
        @apply text-lead font-normal;
    }
    i {
        @apply mt-def;
        font-size: 18px;
        background: transparent linear-gradient(104deg, #c826f3 0%, #00defa 100%) 0% 0% no-repeat padding-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.reference-block-name {
    @apply text-purple mt-def;
}

.reference-block:nth-child(2n + 1) {
    @apply w-1/2 float-left clear-left;
    @apply md:w-full md:float-left;
}
.reference-block:nth-child(2n + 2) {
    @apply w-1/2 float-right;
    @apply md:w-full md:float-left;
}

.default-overview-reference--default {
    @apply py-2xl container relative;
    @apply lg:px-def;
    @apply sm:px-mob sm:py-def;

    &::before {
        content: "";
        @apply absolute left-0 top-0;
        background: transparent linear-gradient(90deg, #d0d0d0 0%, #ffffff 100%) 0% 0% no-repeat padding-box;
        height: 1px;
        width: 100%;
    }

    &::after {
        content: "";
        @apply absolute left-0 bottom-0;
        background: transparent linear-gradient(90deg, #d0d0d0 0%, #ffffff 100%) 0% 0% no-repeat padding-box;
        height: 1px;
        width: 100%;
    }

    // border-top: 1px solid red;
    // border-bottom: 1px solid pink;
}

.default-overview-reference {
    .default-overview__title {
        @apply text-center mb-lg;
        @apply sm:mb-def;
        letter-spacing: -1.2px;
    }

    .swiper-wrapper {
        @apply flex;

        .reference-block {
            @apply sm:mb-lg;
        }

        .reference-block-inner {
            @apply h-full flex flex-col;

            h4 {
                @apply mb-def;
            }

            .reference-block-name {
                @apply mt-auto;
            }
        }
    }
}

.default-overview-reference__button-wrapper {
    @apply flex justify-center mt-sm;
}
